<div>
  <% if @name == "" || @name == nil %>
    <p>YOU MUST GIVE A NAME</p>
    <p><a href="/new_game">try again</a></p>
  <% else %>
    <p>Hello <%= @name %>, here is your test board:</p>
    <%= @board_html %>
    <form id="sh0tForm" action="/board">
      Coordinate to shoot at (format 'A1'): <input type="text" name="coord" autofocus>
      <input type="submit" value="Shoot">
    </form>
  <% end %>
</div>
